{% extends 'bootstrap/base.html'%}

{% block title %}
{{ title }}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="#"></a>
        <div>
            <ul class="navbar-nav ml-auto">
                {% if current_user.is_authenticated %}
                    <li class="nav-item active">
                        <a href="{{ url_for('.task') }}" class="nav-link">My Tasks</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{ url_for('.new_task') }}" class="nav-link">Add Task</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{ url_for('.logout') }}" class="nav-link">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item active">
                        <a href="{{ url_for('.login') }}" class="nav-link">Log In</a>
                    </li>
                    <li class="nav-item active">
                        <a href="{{ url_for('.register') }}" class="nav-link">Sign Up</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">

        <div class="col-md-12 col-md-offset-1">
            {% with messages = get_flashed_messages(with_categories=True) %}

            {% if messages %}

                {% for category, message in messages %}

                    {% if category == 'error' %}
                        <div class="alert alert-danger" role="alert">
                            {{ message }}
                        </div>
                    {% else %}
                        <div class="alert alert-success" role="alert">
                            {{ message }}
                        </div>
                    {% endif %}
                {% endfor %}

            {% endif %}

            {% endwith %}
        </div>
        {% block container %}
        {% endblock %}
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="../static/js/main.js"></script>
{% endblock scripts %}
